@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(95, 113, 97, 1) 0%, rgba(109, 139, 116, 1) 100%);;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.input {
    width: 20px;
    height: 30px;
    padding: 8px 12px;
    border: 0;
    border-radius: 20px;
    background-color: linen;
    transition: width 0.5s ease-in;
}

.search.active .input {
    width: 200px;
}

.input:focus{
    border: none;
    outline: none;
}

.input:focus::placeholder{
    color: transparent;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 50vh;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #125B50;
    cursor: pointer;
    transition: transform 0.5s ease-in;
}

.search.active .btn {
    transform: translateX(87px);
}

i {
    color: aliceblue;
}